@font-face {
  font-family: "Petrona";
  src: url("Petrona-VariableFont_wght.woff2") format("woff2"),
    url("Petrona-Italic-VariableFont_wght.woff2") format("woff2");
}

.body {
  background-color: #F9F5EE;
}

@media (max-width: 1440px) {}

@media (max-width: 1280px) {}

@media (max-width: 768px) {}

@media (max-width: 480px) {}


.hero {
  display: flex;
  height: 100vh;
  margin: auto;
  padding-right: 5vw;
  padding-left: 5vw;
}

.grid-header {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  column-gap: 1rem;
  grid-template-rows: 1fr max-content 1fr;
  row-gap: 1rem;
}

a {
  text-decoration: none;
  color: #1347D2;
  border-bottom: 0.15rem solid #1347D2;
}

a:hover {
  color: #002480;
}

nav {
  text-align: right;
  margin-top: 1rem;
  margin-right: 1rem;
}

nav ul {
  list-style-type: none;
  font-family: Petrona;
  font-style: normal;
  font-weight: 900;
  font-size: 22px;
  line-height: 25px;
  color: #011D67;
}

nav li {
  display: inline;
  padding: 16px;
  text-decoration: none;
}

.logo {
  grid-column: 2 / 4;
  grid-row: 2;
  grid-row-end: auto;
  align-self: center;
}

.headline {
  grid-column-start: 4;
  grid-column-end: 6;
  grid-row-start: 2;
  grid-row-end: auto;
  font-family: Petrona;
  font-style: normal;
  font-size: 48px;
  line-height: 60px;
  color: #FF400F;
}

h1 {
  max-width: 17ch;
  font-variation-settings: 'wght'800;
  padding-bottom: 1rem;
}

.blurb {
  grid-column-start: 4;
  grid-column-end: 6;
  grid-row-start: 2;
  grid-row-end: auto;
  font-family: Petrona;
  font-style: normal;
  font-size: 48px;
  line-height: 60px;
  color: #FF400F;
  font-variation-settings: 'wght'500;
}

/* i {
  font-style: italic;
} */

.section-work {
  display: flex;
  height: 100vh;
  margin: auto;
  padding-right: 5vw;
  padding-left: 5vw;
}

.grid-work {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  column-gap: 1rem;
  grid-template-rows: repeat (4, 1fr);
  row-gap: 1rem;
}

h2 {
  font-family: Petrona;
  font-style: normal;
  font-variation-settings: 'wght'700;
  font-size: 36px;
  line-height: 20px;
  color: #FF400F;
}

h3 {
  font-family: Petrona;
  font-style: normal;
  font-variation-settings: 'wght'700;
  font-size: 22px;
  line-height: 20px;
  font-variant: small-caps;
  color: #002480;
  padding-bottom: 1rem;
}

p {
  max-width: 65ch;
  font-family: Petrona;
  font-style: normal;
  font-variation-settings: 'wght'375;
  font-size: 18px;
  line-height: 150%;
  color: #011D67;
}

.Work {
  grid-column: 1 / 2;
  grid-row: 1;
  justify-self: end;
}

.work-mi {
  grid-column: 2 / 4;
  grid-row: 2;
}

.work-kpap {
  grid-column: 3 / 5;
  grid-row: 3;
}

.work-solcom {
  grid-column: 4 / 6;
  grid-row: 4;
}

.section-about {
  display: flex;
  height: 100vh;
  margin: auto;
  padding-right: 5vw;
  padding-left: 5vw;
}

.grid-about {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  column-gap: 1rem;
  grid-template-rows: repeat (4, 1fr);
  row-gap: 1rem;
}

.About {
  grid-column: 1 / 2;
  grid-row: 1;
  justify-self: end;
}

.I-am {
  grid-column: 3 / 6;
  grid-row: 1;
}

.I-believe-that {
  grid-column: 3 / 6;
  grid-row: 2;
}

.Im-excited-by {
  grid-column: 3 / 6;
  grid-row: 3;
}

.section-contact {
  display: flex;
  height: 100vh;
  margin: auto;
  padding-right: 5vw;
  padding-left: 5vw;
}

.grid-contact {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  column-gap: 1rem;
  grid-template-rows: max-content max-content 1fr;
  row-gap: 1rem;
}

.Contact {
  grid-column: 1 / 2;
  grid-row: 1;
  justify-self: end;
}

.contact-me {
  grid-column: 2 / 4;
  grid-row: 1;
}

.hover_img a {
  position: relative;
  max-width: 65ch;
  font-family: Petrona;
  font-style: normal;
  font-variation-settings: 'wght'375;
  font-size: 18px;
  line-height: 150%;
  color: #1347D2;
}

.hover_img span {
  position: absolute;
  display: none;
  z-index: 99;
}

.hover_img:hover span {
  display: block;
}

.grid-contact-link {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column: 2 / 4;
  grid-row: 2;
  font-family: Petrona;
  font-style: normal;
  font-variation-settings: 'wght'700;
  font-size: 18px;
  line-height: 150%;
  color: #1347D2;
}

.link-email {
  font-family: Petrona;
  font-style: normal;
  font-variation-settings: 'wght'700;
  font-size: 18px;
  line-height: 150%;
  color: #1347D2;
  margin-top: 1rem;
}

.link-linkedin {
  font-family: Petrona;
  font-style: normal;
  font-variation-settings: 'wght'700;
  font-size: 18px;
  line-height: 150%;
  color: #1347D2;
  margin-top: 1rem;
}

.link-twitter {
  font-family: Petrona;
  font-style: normal;
  font-variation-settings: 'wght'700;
  font-size: 18px;
  line-height: 150%;
  color: #1347D2;
  margin-top: 1rem;
}

.link-dribbble {
  font-family: Petrona;
  font-style: normal;
  font-variation-settings: 'wght'700;
  font-size: 18px;
  line-height: 150%;
  color: #1347D2;
  margin-top: 1rem;
}

.headshot {
  border-radius: 4px;
  grid-column: 4 / 6;
  grid-row: 1 / 6;
  width: 12rem;
  height: auto;
}


/* Extra small devices (phones, 600px and down) */
/* @media only screen and (max-width: 600px) {..} */
/* @media (max-width: 600px) {
  .grid-header {
    grid-template-columns: repeat(1, 1fr);
  }

  .grid {
    grid-template-columns: repeat(1, 1fr);
  }
}


/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (min-width: 600px) {..} */
/* @media (min-width: 600px) {
  .grid-header {
    grid-template-columns: repeat(2, 1fr);
  }

  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Medium devices (landscape tablets, 768px and up) */
/* @media only screen and (min-width: 768px) {..} */
/* @media (min-width: 768px) {
  .grid-header {
    grid-template-columns: repeat(3, 1fr);
  }

  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Large devices (laptops/desktops, 992px and up) */
/* @media only screen and (min-width: 992px) {..} */
/* @media (min-width: 992px) {
  .grid-header {
    grid-template-columns: repeat(4, 1fr);
  }

  .grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (min-width: 1200px) {..} */
/* @media (min-width: 1200x) {
  .grid-header {
    grid-template-columns: repeat(6, 1fr);
  }

  .grid {
    grid-template-columns: repeat(6, 1fr);
  }
} */
/* {    
    position: absolute;
width: 446px;
height: 310px;
left: 690px;
top: 357px;

font-family: Petrona;
font-style: normal;
font-weight: normal;
font-size: 55px;
line-height: 62px;
color: #FF400F;
  }
  body {
      background-color: #F9F5EE;
      ;
  }
  h1 {
      font-family: Petrona, Arial, Helvetica, sans-serif;
      font-size: 6.5rem;
  }
  h2 {
    font-family: Petrona, Arial, Helvetica, sans-serif;
    font-size: 2rem;
    color: #055A5B;
}
h3 {
    font-family: Petrona, Arial, Helvetica, sans-serif;
}
h4 {
    font-family: Petrona, Arial, Helvetica, sans-serif;
}

 p{
    font-family: Petrona, Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    color: #435058;
  }
  */