@font-face {
  font-family: "Petrona-Italic";
  src: url("Petrona-Italic-VariableFont_wght.ttf") format("truetype supports variations"),
    url("Petrona-Italic-VariableFont_wght.ttf") format("truetype");
  font-style: 0 1;

  font-family: "Petrona";
  src: url("Petrona-VariableFont_wght.ttf") format("truetype supports variations"),
    url("Petrona-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
}

* {
  box-sizing: border-box;
}

.body {
  background-color: #F9F5EE;
  margin-left: 5vw;
  margin-right: 5vw;
}

@media (max-width: 480px) {
  /*   .wrapper {
    display: flex;
    margin: auto;
    padding-right: 5vw;
    padding-left: 5vw;
  }

  .grid-content {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 1rem;
    row-gap: 1rem;
  } */

  a {
    text-decoration: none;
    color: #002480;
    border-bottom: 0.15rem solid #1347D2;
  }

  a:hover {
    color: #1347D2;
  }

  h1 {
    font-weight: 800;
    padding-bottom: 1rem;
    font-family: Petrona;
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 42px;
    color: #FF400F;
    margin-top: 1rem;
  }

  h2 {
    font-family: Petrona;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 20px;
    font-variant: small-caps;
    color: #002480;
    margin-bottom: 1rem;
  }

  h3 {
    font-family: Petrona;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 150%;
    color: #0487d3;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }

  p {
    font-family: Petrona;
    font-style: normal;
    font-weight: 375;
    font-size: 16px;
    line-height: 150%;
    color: #011D67;
    padding-bottom: 1rem;
  }

  ul {
    font-family: Petrona;
    font-style: normal;
    font-weight: 375;
    font-size: 16px;
    line-height: 150%;
    color: #011D67;
    padding-bottom: 1rem;
  }

  li {
    list-style: disc;
    list-style-position: inside;
    padding-top: .5rem;
  }

  .img_container_ilac {
    overflow: hidden;
    width: 90vw;
    height: 300px;
  }

  .img_container_ilac img {
    width: 100%;
    height: fill-container;
    margin: -20px 0px 0px 0px;
  }

  .img_container_filterpure {
    overflow: hidden;
    width: 90vw;
    height: 200px;
  }

  .img_container_filterpure img {
    width: 100%;
    height: fill-container;
    margin: -70px 0px -60px 0px;
  }

  figcaption {
    font-family: Petrona-Italic;
    font-style: 1;
    font-weight: 375;
    font-size: 12px;
    line-height: 125%;
    color: #011D67;
    padding-top: .5rem;
    margin-bottom: 1rem;
  }

  .maintenance-guides {
    width: 100%;
  }

  .maintenance-guide1 {

  }

  .maintenance-guide2 {
    position: relative;
    top: -140px;
    left: 40px;
    z-index: 1;
  }

  .sketch1 {}

  .sketch2 {}

  .solcom-images {
    max-width: 90vw
  }
}

@media (min-width: 481px) {
  .grid-content {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 1rem;
    grid-template-rows: 1fr 1fr .5fr 1fr 1fr;
    row-gap: 1rem;
  }

  a {
    text-decoration: none;
    color: #002480;
    border-bottom: 0.15rem solid #1347D2;
  }

  a:hover {
    color: #1347D2;
  }

  h1 {
    font-weight: 800;
    padding-bottom: 1rem;
    font-family: Petrona;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 20px;
    color: #FF400F;
  }

  h2 {
    font-family: Petrona;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 20px;
    font-variant: small-caps;
    color: #002480;
    padding-bottom: 1rem;
  }

  h3 {
    font-family: Petrona;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 20px;
    font-variant: small-caps;
    color: #002480;
    padding-bottom: 1rem;
  }

  p {
    max-width: 65ch;
    font-family: Petrona;
    font-style: normal;
    font-weight: 375;
    font-size: 18px;
    line-height: 150%;
    color: #011D67;
  }
}

@media (min-width: 769px) {
  .grid-content {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 1rem;
    grid-template-rows: 1fr 1fr .5fr 1fr 1fr;
    row-gap: 1rem;
  }

  a {
    text-decoration: none;
    color: #002480;
    border-bottom: 0.15rem solid #1347D2;
  }

  a:hover {
    color: #1347D2;
  }

  h1 {
    font-weight: 800;
    padding-bottom: 1rem;
    font-family: Petrona;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 20px;
    color: #FF400F;
  }

  h2 {
    font-family: Petrona;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 20px;
    font-variant: small-caps;
    color: #002480;
    padding-bottom: 1rem;
  }

  h3 {
    font-family: Petrona;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 20px;
    font-variant: small-caps;
    color: #002480;
    padding-bottom: 1rem;
  }

  p {
    max-width: 65ch;
    font-family: Petrona;
    font-style: normal;
    font-weight: 375;
    font-size: 18px;
    line-height: 150%;
    color: #011D67;
  }
}

@media (min-width: 1025px) {
  .grid-content {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 1rem;
    grid-template-rows: 1fr 1fr .5fr 1fr 1fr;
    row-gap: 1rem;
  }

  a {
    text-decoration: none;
    color: #002480;
    border-bottom: 0.15rem solid #1347D2;
  }

  a:hover {
    color: #1347D2;
  }

  h1 {
    font-weight: 800;
    padding-bottom: 1rem;
    font-family: Petrona;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 20px;
    color: #FF400F;
  }

  h2 {
    font-family: Petrona;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 20px;
    font-variant: small-caps;
    color: #002480;
    padding-bottom: 1rem;
  }

  h3 {
    font-family: Petrona;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 20px;
    font-variant: small-caps;
    color: #002480;
    padding-bottom: 1rem;
  }

  p {
    max-width: 65ch;
    font-family: Petrona;
    font-style: normal;
    font-weight: 375;
    font-size: 18px;
    line-height: 150%;
    color: #011D67;
  }
}


@media (min-width: 1200px) {
  .grid-content {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 1rem;
    grid-template-rows: 1fr 1fr .5fr 1fr 1fr;
    row-gap: 1rem;
  }

  a {
    text-decoration: none;
    color: #002480;
    border-bottom: 0.15rem solid #1347D2;
  }

  a:hover {
    color: #1347D2;
  }

  h1 {
    font-weight: 800;
    padding-bottom: 1rem;
    font-family: Petrona;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 20px;
    color: #FF400F;
  }

  h2 {
    font-family: Petrona;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 20px;
    font-variant: small-caps;
    color: #002480;
    padding-bottom: 1rem;
  }

  h3 {
    font-family: Petrona;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 20px;
    font-variant: small-caps;
    color: #002480;
    padding-bottom: 1rem;
  }

  p {
    max-width: 65ch;
    font-family: Petrona;
    font-style: normal;
    font-weight: 375;
    font-size: 18px;
    line-height: 150%;
    color: #011D67;
  }
}